html {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

* {
    box-sizing: inherit;
}

header {
    background-color: rgb(232, 66, 66);
    text-decoration: none;
    color: white;

}

body {
    margin: 0;
    padding: 0;
}

main {
    padding: 16px;
    margin: 0
}

footer {
    text-indent: 30px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0;
    padding-right: 0;
    background-color: rgb(145, 216, 38);
    margin-bottom: 15px;
    margin-top: 100px;
}

img {
    height: 200px
}

nav {
    text-decoration: none;
    color: white;
    border-bottom: 1px;
    padding: 16px
}

a {
    text-decoration: none;
}

.recipe-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.recipes-links {
    text-decoration:none;
    color: rgb(110, 168, 24)
}

.darkgreen {
    color:darkgreen;
}

.white {
    color: white;
}

.striped-table tr:nth-child(even) {
    background-color: lightgray;
}
